{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}


<div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"> 
		{% for product in cat_products %}

			<div class="col mb-5">
        		<div class="card h-100">
            		<img class="card-img-top" src="{{ product.img.url }}" alt="..." />
            		<div class="card-body p-4">
                		<div class="text-center">
                    		<strong>{{ product.title }}</strong><br>
                    		{{ product.price }} руб.<br>
                    		<a href="{% url 'dadova:detail' product.id %}"><button>View Details</button></a>
                		</div>
            		</div>
        		</div>
    		</div>

		{% endfor %}
	</div>
</div>

{% endblock %}